fontawesome_markdown
jupyter
markdown>=3.4.0,<4.0  # 3.4.0+ supports new EntryPoints API, compatible with mkdocs (>3.2.1)
mike
mkdocs
mkdocs-autorefs
mkdocs-awesome-pages-plugin
mkdocs-include-markdown-plugin
mkdocs-jupyter
mkdocs-material
mkdocs-mermaid2-plugin
mkdocstrings
mkdocstrings-python
